In [49]:
txt_data = '''1,0,0,3,1,1,2,3,1,3,4,3,1,5,0,3,2,13,1,19,1,6,19,23,2,6,23,27,1,5,27,31,2,31,9,35,1,35,5,39,1,39,5,43,1,43,10,47,2,6,47,51,1,51,5,55,2,55,6,59,1,5,59,63,2,63,6,67,1,5,67,71,1,71,6,75,2,75,10,79,1,79,5,83,2,83,6,87,1,87,5,91,2,9,91,95,1,95,6,99,2,9,99,103,2,9,103,107,1,5,107,111,1,111,5,115,1,115,13,119,1,13,119,123,2,6,123,127,1,5,127,131,1,9,131,135,1,135,9,139,2,139,6,143,1,143,5,147,2,147,6,151,1,5,151,155,2,6,155,159,1,159,2,163,1,9,163,0,99,2,0,14,0'''

In [50]:
data = [int(x) for x in txt_data.split(',')]

In [71]:
data

[1,
 12,
 2,
 3,
 1,
 1,
 2,
 3,
 1,
 3,
 4,
 3,
 1,
 5,
 0,
 3,
 2,
 13,
 1,
 19,
 1,
 6,
 19,
 23,
 2,
 6,
 23,
 27,
 1,
 5,
 27,
 31,
 2,
 31,
 9,
 35,
 1,
 35,
 5,
 39,
 1,
 39,
 5,
 43,
 1,
 43,
 10,
 47,
 2,
 6,
 47,
 51,
 1,
 51,
 5,
 55,
 2,
 55,
 6,
 59,
 1,
 5,
 59,
 63,
 2,
 63,
 6,
 67,
 1,
 5,
 67,
 71,
 1,
 71,
 6,
 75,
 2,
 75,
 10,
 79,
 1,
 79,
 5,
 83,
 2,
 83,
 6,
 87,
 1,
 87,
 5,
 91,
 2,
 9,
 91,
 95,
 1,
 95,
 6,
 99,
 2,
 9,
 99,
 103,
 2,
 9,
 103,
 107,
 1,
 5,
 107,
 111,
 1,
 111,
 5,
 115,
 1,
 115,
 13,
 119,
 1,
 13,
 119,
 123,
 2,
 6,
 123,
 127,
 1,
 5,
 127,
 131,
 1,
 9,
 131,
 135,
 1,
 135,
 9,
 139,
 2,
 139,
 6,
 143,
 1,
 143,
 5,
 147,
 2,
 147,
 6,
 151,
 1,
 5,
 151,
 155,
 2,
 6,
 155,
 159,
 1,
 159,
 2,
 163,
 1,
 9,
 163,
 0,
 99,
 2,
 0,
 14,
 0]

In [57]:
data[1] = 12
data[2] = 2

In [72]:
data_copy = list(data)
i = 0
opcode = data_copy[0]
while opcode != 99:
    opcode = data_copy[i]
    print(opcode)
    if opcode == 1:
        x, y, pos = data_copy[i+1: i+4]
        data_copy[pos] = data_copy[x] + data_copy[y]
    elif opcode == 2:
        x, y, pos = data_copy[i+1: i+4]
        data_copy[pos] = data_copy[x] * data_copy[y]
    i += 4

1
1
1
1
2
1
2
1
2
1
1
1
2
1
2
1
2
1
1
2
1
2
1
2
1
2
2
1
1
1
1
2
1
1
1
2
1
2
1
2
1
1
99

In [73]:
data_copy

[10566835,
 12,
 2,
 2,
 1,
 1,
 2,
 3,
 1,
 3,
 4,
 3,
 1,
 5,
 0,
 3,
 2,
 13,
 1,
 60,
 1,
 6,
 19,
 62,
 2,
 6,
 23,
 124,
 1,
 5,
 27,
 125,
 2,
 31,
 9,
 375,
 1,
 35,
 5,
 376,
 1,
 39,
 5,
 377,
 1,
 43,
 10,
 381,
 2,
 6,
 47,
 762,
 1,
 51,
 5,
 763,
 2,
 55,
 6,
 1526,
 1,
 5,
 59,
 1527,
 2,
 63,
 6,
 3054,
 1,
 5,
 67,
 3055,
 1,
 71,
 6,
 3057,
 2,
 75,
 10,
 12228,
 1,
 79,
 5,
 12229,
 2,
 83,
 6,
 24458,
 1,
 87,
 5,
 24459,
 2,
 9,
 91,
 73377,
 1,
 95,
 6,
 73379,
 2,
 9,
 99,
 220137,
 2,
 9,
 103,
 660411,
 1,
 5,
 107,
 660412,
 1,
 111,
 5,
 660413,
 1,
 115,
 13,
 660418,
 1,
 13,
 119,
 660423,
 2,
 6,
 123,
 1320846,
 1,
 5,
 127,
 1320847,
 1,
 9,
 131,
 1320850,
 1,
 135,
 9,
 1320853,
 2,
 139,
 6,
 2641706,
 1,
 143,
 5,
 2641707,
 2,
 147,
 6,
 5283414,
 1,
 5,
 151,
 5283415,
 2,
 6,
 155,
 10566830,
 1,
 159,
 2,
 10566832,
 1,
 9,
 163,
 0,
 99,
 2,
 0,
 14,
 0]